.bg-img{
    background: url("ar2.jpg");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.Events{
    position: absolute;
    margin: 20px;
    width: auto;
}
.top nav a{
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.top nav a:hover{
    background-color: aliceblue;
    color: aqua;
}
body{
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
h1{color:blueviolet;

}


    
